#container {
background: #f6f6f6;
 box-shadow: 0 1px 3px rgb(0,0,0 0.2);
  width: 360px;
  margin: 99px auto;


}
.compeleted {
  color: gray;
  text-decoration: line-through;
}
h1 {
  background: #324f8f;
  color:  whitesmoke;
  margin: 0;
  padding: 10px 20px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
 font-family: 'Roboto';
 background: #000046;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
li{
  background:#fff;
  height: 39px;
  line-height: 39px;
  color: #666;

}
li:nth-child(2n){
  background:#f6f6f6;
}
input{
font-size: 18px;
background-color: #f6f6f6;
width: 100%;
padding: 13px 13px 13px 20px;
box-sizing: border-box;
color:  #324f8f;
border: 2px solid  rgba(0, 0, 0, 0);

}
input:focus{
  background: #fff;
  border: 2px solid  #324f8f;
  outline: none;
}
.fa-plus-square{
  float: right;
}

span {
  background: #e74c3c;
height: 40px;
margin-right: 20px;
text-align: center;
color: whitesmoke;
width: 0;
display: inline-block;
transition: 0.2s linear;
opacity: 0;

}
li:hover span{
width: 40px;
opacity: 1.0;
}